<!-- Necessary metadata
============================================================================ -->
<!DOCTYPE html>
<meta charset="utf8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= title %></title>

<!-- Styles
============================================================================ -->
<link rel="stylesheet" href="/lib/public/stylesheets/site.css" />
<link
    href="http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700"
    rel="stylesheet"
    type="text/css"
/>
<link
    rel="stylesheet"
    href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"
/>

<!-- Angular App
============================================================================ -->
<html ng-app="<%= appName %>">
    <div ng-view></div>
</html>

<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD8Fs8jsedSFVT1L3Ayv4SF4T1QZCUJKzk"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.4.6/fuse.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="lib/jquery/dist/jquery.js"></script>

<script src="lib/angular/angular.js"></script>
<script src="lib/angular-route/angular-route.js"></script>
<script src="lib/angular-resource/angular-resource.js"></script>
<script src="lib/angular-cookies/angular-cookies.js"></script>
<script src="lib/angular-ui-utils/index.js"></script>

<script src="lib/angular-bootstrap/ui-bootstrap.js"></script>
<script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>

<script src="lib/angular-ui-event/dist/event.js"></script>
<script src="lib/angular-ui-indeterminate/dist/indeterminate.js"></script>
<script src="lib/angular-ui-mask/dist/mask.js"></script>
<script src="lib/angular-ui-scroll/dist/ui-scroll.js"></script>
<script src="lib/angular-ui-scrollpoint/dist/scrollpoint.js"></script>
<script src="lib/angular-ui-uploader/dist/uploader.js"></script>
<script src="lib/angular-ui-validate/dist/validate.js"></script>

<script src="lib/moment/min/moment.min.js"></script>

<script src="lib/lodash/lodash.js"></script>

<script src="lib/satellizer/dist/satellizer.js"></script>

<script src="lib/nginfinitescroll/build/ng-infinite-scroll.min.js"></script>

<script src="lib/angular-simple-logger/dist/angular-simple-logger.js"></script>
<script src="lib/angular-google-maps/dist/angular-google-maps.js"></script>

<!-- Bundled Javascript
============================================================================ -->
<script src="bundle.js"></script>
