<!-- Necessary metadata
============================================================================ -->
<!doctype html>
<meta charset='utf8'>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %></title>


<!-- Styles
============================================================================ -->
<link rel='stylesheet' href='/lib/public/stylesheets/site.css' />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700' rel='stylesheet' type='text/css'>


<!-- login
============================================================================ -->
<html>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle"
              data-toggle="collapse"
              data-target="#navbar-collapse-target">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img class="navbar-logo" src="lib/public/images/parkenergylogo.png">
    </div>
</nav>
<a href="/auth/google">
  <img src="lib/public/images/google_sign_in.png">
</a>
</html>
