
<loader></loader>
<alerts></alerts>

<div class="container">

  <header></header>

  <div class="jumbotron">
    <h1 class="page-title">{{title}}</h1>
  </div>

  <div class="col-md-6">

    <div class="form-group">

      <label for="unit.number">Unit Number</label>
      <input type="text" class="form-control" ng-model="unit.number"
      name="unit.number" placeholder="Unit Number">

    </div>

    <div class="form-group">

      <label for="unit.status">Status</label>
      <div>
        <!-- <input type="text" class="form-control" ng-model="unit.status"
        name="unit.status" placeholder="No Status" disabled> -->

        <select ng-model="unit.status" name="unit.status"
          ng-options="status for status in unit.statuses">
        </select>
      </div>

    </div>


    <div class="form-group">

      <label for="unit.dateAcquired">Date Acquired</label>

      <datepicker ng-model="unit.dateAcquired" show-weeks="true"
      class="well well-sm"></datepicker>

    </div>

    <div class="form-group">

      <label for="unit.purchasePrice">Purchase Price</label>
      <input type="text" number min="0" custom-validation class="form-control"
      ng-model="unit.purchasePrice"
      name="unit.purchasePrice" placeholder="Purchase Price">

    </div>

    <div class="form-group">

      <label for="unit.productType">Product Type</label>
      <input type="text" class="form-control" ng-model="unit.productType"
      name="unit.productType" placeholder="Product Type">

    </div>

    <div class="form-group">

      <label for="unit.productSeries">Product Series</label>
      <input type="text" class="form-control" ng-model="unit.productSeries"
      name="unit.productSeries" placeholder="Product Series">

    </div>

    <div class="form-group">

      <label for="unit.engineSerial">Engine Serial</label>
      <input type="text" class="form-control" ng-model="unit.engineSerial"
      name="unit.engineSerial" placeholder="Engine Serial">

    </div>

    <div class="form-group">

      <label for="unit.engineModel">Engine Model</label>
      <input type="text" class="form-control" ng-model="unit.engineModel"
      name="unit.engineModel" placeholder="Engine Model">

    </div>

    <div class="form-group">

      <label for="unit.engineHours">Engine Hours</label>
      <input type="text" number min="0" custom-validation class="form-control"
      ng-model="unit.engineHours"
      name="unit.engineHours" placeholder="Engine Hours">

    </div>

    <div class="form-group">

      <label for="unit.engineDate">Engine Manufacture Date</label>

      <datepicker ng-model="unit.engineDate" show-weeks="true"
      class="well well-sm"></datepicker>

    </div>

    <div class="form-group">

      <label for="unit.compressorSerial">Engine Serial</label>
      <input type="text" class="form-control" ng-model="unit.compressorSerial"
      name="unit.compressorSerial" placeholder="Engine Serial">

    </div>

    <div class="form-group">

      <label for="unit.compressorModel">Engine Model</label>
      <input type="text" class="form-control" ng-model="unit.compressorModel"
      name="unit.compressorModel" placeholder="Engine Model">

    </div>

    <div class="form-group">

      <label for="unit.compressorHours">Engine Hours</label>
      <input type="text" number min="0" custom-validation class="form-control"
      ng-model="unit.compressorHours"
      name="unit.compressorHours" placeholder="Engine Hours">

    </div>

    <div class="form-group">

      <label for="unit.ServicePartnerId">Service Partner</label>

      <select class="form-control" ng-model="unit.ServicePartnerId"
      ng-options="servicePartner._id as servicePartner.name for servicePartner in servicePartners"
      name="unit.ServicePartnerId" ng-disabled="unit._id"></select>

    </div>

    <div class="form-group">

      <label for="unit.LocationId">
        Location
        <span ng-hide="unit.ServicePartnerId">
          <i class="glyphicon glyphicon-question-sign"
          popover-placement="right"
          Popover-animation="true"
          popover-trigger="click"
          popover-title="Can't select a location?"
          popover="Please select a service partner first."/>
        </span>
      </label>

      <select class="form-control" ng-model="unit.LocationId"
      ng-options="location._id as location.name for location in locations"
      name="unit.LocationId"
      ng-disabled="unit._id || locationsLoading || !unit.ServicePartnerId">
      </select>

    </div>

    <div class="form-group">

      <label for="unit.pressureRating">Pressure Rating</label>
      <div>
        <select ng-model="unit.pressureRating" name="unit.pressureRating"
          ng-options="rating for rating in ['HIGH', 'LOW']">
        </select>
      </div>

    </div>

    <div class="form-group">

      <label for="unit.pressureLimit">Pressure Limit</label>
      <input type="text" number min="0" custom-validation class="form-control"
      ng-model="unit.pressureLimit"
      name="unit.pressureLimit" placeholder="Pressure Limit">

    </div>

    <div class="form-group">

      <button class="btn btn-large btn-primary pull-right" ng-click="save()"
              ng-disabled="submitting">
        Save
      </button>

      <button class="btn btn-large btn-danger pull-right" style="margin-right: 10px;"
        ng-click="destroy()" ng-show="unit._id" ng-disabled="submitting">
        Delete
      </button>

    </div>

  </div>

</div>
