{
    "presets": [
        ["@babel/preset-env",
            {
                "targets": {
                    "node": 8
                },
                "useBuiltIns": "entry",
                "modules": false
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-transform-modules-commonjs",
        "@babel/plugin-proposal-export-default-from",
        "@babel/plugin-proposal-export-namespace-from",
        "@babel/plugin-transform-parameters",
        "@babel/plugin-transform-destructuring",
        "@babel/plugin-transform-classes",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread"
    ]
}
