{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": 6
                },
                "useBuiltIns": true,
                "modules": false
            }
        ],
        "es2015",
        "stage-0"
    ],
    "plugins": [
        "add-module-exports"
    ],
    "env": {
        "production": {
            "presets": [
                "react-optimize",
                "minify"
            ],
            "plugins": [
                "babel-plugin-dev-expression",
                "transform-es2015-destructuring",
                "transform-object-rest-spread"
            ]
        },
        "development": {
            "plugins": [
                "transform-class-properties",
                "transform-es2015-classes",
                "transform-es2015-destructuring",
                "transform-object-rest-spread"
            ]
        },
        "test": {
            "presets": [
                [
                    "env"
                ]
            ],
            "plugins": [
                "transform-export-extensions",
                "transform-class-properties",
                "transform-es2015-classes",
                "transform-es2015-destructuring",
                "transform-object-rest-spread"
            ],
            "only": [
                "./**/*.js",
                "node_modules/jest-runtime"
            ]
        }
    }
}
