<div class="modal-header">
  <h3 class="modal-title">Job Safety Analysis Form</h3>
</div>
<div class="modal-body">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">JSA Info</h3>
    </div>
    <div class="panel-body">
      <text-field
        class="col-md-6"
        label-text="Location of Work"
        data="workorder.jsa.location">
      </text-field>
      <text-field
        class="col-md-6"
        label-text="Customer"
        data="workorder.jsa.customer">
      </text-field>
      <text-area-field
        class="col-md-6"
        label-text="Description of Work"
        data="workorder.jsa.descriptionOfWork">
      </text-area-field>
      <text-area-field
        class="col-md-6"
        label-text="Emergency Evacuation Instructions"
        data="workorder.jsa.emergencyEvac">
      </text-area-field>
    </div>
  </div>
  <div class="panel panel-default col-md-4">
    <div class="panel-heading">
      <h3 class="panel-title">Identify Potential Hazards</h3>
    </div>
    <div class="panel-body">
      <check-box
        label-text="Body Position"
        data="workorder.jsa.potentialHazards.bodyPosition">
      </check-box>
      <check-box
        label-text="Pinch"
        data="workorder.jsa.potentialHazards.pinch">
      </check-box>
      <check-box
        label-text="Crush or Striking Hazard"
        data="workorder.jsa.potentialHazards.crushOrStriking">
      </check-box>
      <check-box
        label-text="Sharp Edges"
        data="workorder.jsa.potentialHazards.sharpEdges">
      </check-box>
      <check-box
        label-text="Material Handling"
        data="workorder.jsa.potentialHazards.materialHandling">
      </check-box>
      <check-box
        label-text="Enviromental Extremes"
        data="workorder.jsa.potentialHazards.environmental">
      </check-box>
      <check-box
        label-text="Lifting/Hazard"
        data="workorder.jsa.potentialHazards.lifting">
      </check-box>
      <check-box
        label-text="Elevated Body Temperature"
        data="workorder.jsa.potentialHazards.elevatedBodyTemp">
      </check-box>
      <check-box
        label-text="H2S"
        data="workorder.jsa.potentialHazards.h2s">
      </check-box>
      <check-box
        label-text="Hot/Cold Surfaces"
        data="workorder.jsa.potentialHazards.hotColdSurfaces">
      </check-box>
      <check-box
        label-text="Laceration Potential"
        data="workorder.jsa.potentialHazards.laceration">
      </check-box><check-box
        label-text="Hazardous Chemical Exposure"
        data="workorder.jsa.potentialHazards.chemExposure">
      </check-box><check-box
        label-text="Fall from Elevation"
        data="workorder.jsa.potentialHazards.fallFromElevation">
      </check-box><check-box
        label-text="Slick/Slippery Surfaces"
        data="workorder.jsa.potentialHazards.slickSurfaces">
      </check-box><check-box
        label-text="Excavation Hazard"
        data="workorder.jsa.potentialHazards.excavation">
      </check-box><check-box
        label-text="Slips"
        data="workorder.jsa.potentialHazards.slips">
      </check-box>
      <check-box
        label-text="Trips"
        data="workorder.jsa.potentialHazards.trips">
      </check-box><check-box
        label-text="Falls"
        data="workorder.jsa.potentialHazards.falls">
      </check-box><check-box
        label-text="Equipment Hazards"
        data="workorder.jsa.potentialHazards.equipment">
      </check-box><check-box
        label-text="Fire or Explosion Potential"
        data="workorder.jsa.potentialHazards.fireExplosionPotential">
      </check-box>
      <check-box
        label-text="Electrical Shock"
        data="workorder.jsa.potentialHazards.eletricShock">
      </check-box>
      <check-box
        label-text="Confined Spaces"
        data="workorder.jsa.potentialHazards.confinedSpace">
      </check-box>
    </div>
  </div>
  <div class="panel panel-default col-md-4">
    <div class="panel-heading">
      <h3 class="panel-title">Controls and Practices</h3>
    </div>
    <div class="panel-body">
      <check-box
        label-text="Confined Space Entry Procedure"
        data="workorder.jsa.controlsAndPractices.confinedSpaceEntry">
      </check-box>
      <check-box
        label-text="Spill Kit/Containment"
        data="workorder.jsa.controlsAndPractices.spillKit">
      </check-box>
      <check-box
        label-text="Restrict Access"
        data="workorder.jsa.controlsAndPractices.restrictAccess">
      </check-box>
      <check-box
        label-text="Cut Resistant Gloves"
        data="workorder.jsa.controlsAndPractices.cutResistantGloves">
      </check-box>
      <check-box
        label-text="Use of PPE"
        data="workorder.jsa.controlsAndPractices.ppe">
      </check-box>
      <check-box
        label-text="Review Emergency Action Plan"
        data="workorder.jsa.controlsAndPractices.reviewEmergencyActionPlan">
      </check-box>
      <check-box
        label-text="Drinking Water/Fluids"
        data="workorder.jsa.controlsAndPractices.drinkWater">
      </check-box>
      <check-box
        label-text="Eletrician Needed"
        data="workorder.jsa.controlsAndPractices.electrician">
      </check-box>
      <check-box
        label-text="Heat Resistant Gloves/Sleeves"
        data="workorder.jsa.controlsAndPractices.heatResistantGloves">
      </check-box>
      <check-box
        label-text="Lockout/Tagout"
        data="workorder.jsa.controlsAndPractices.lockoutTagout">
      </check-box>
      <check-box
        label-text="De-Pressurize"
        data="workorder.jsa.controlsAndPractices.depressurize">
      </check-box>
      <check-box
        label-text="Chemical Gloves"
        data="workorder.jsa.controlsAndPractices.chemGloves">
      </check-box>
      <check-box
        label-text="Site/Job Orientation"
        data="workorder.jsa.controlsAndPractices.siteJobOrientation">
      </check-box>
      <check-box
        label-text="Sampling/Monitoring"
        data="workorder.jsa.controlsAndPractices.samplingMonitoring">
      </check-box>
      <check-box
        label-text="Equipment Cool-down"
        data="workorder.jsa.controlsAndPractices.equipmentCooldown">
      </check-box>
      <check-box
        label-text="Fire Extinguisher"
        data="workorder.jsa.controlsAndPractices.fireExtinguisher">
      </check-box>
    </div>
  </div>
  <div class="panel panel-default col-md-4">
    <div class="panel-heading">
      <h3 class="panel-title">Hazard Planning</h3>
    </div>
    <div class="panel-body">
      <text-area-field
        data="workorder.jsa.hazardPlanning">
      </text-area-field>
    </div>
  </div>
  <div class="panel panel-default col-md-8">
    <div class="panel-heading">
      <h3 class="panel-title">JSA Disclosure</h3>
    </div>
    <div class="panel-body">
      Verbage for JSA disclosure.
      <text-field
        label-text="JSA Members:"
        data="workorder.jsa.jsaMembers">
      </text-field>
      <check-box
        label-text="Agree"
        data="workorder.jsa.agreement">
      </check-box>
    </div>
  </div>

</div>
<!-- end modal body -->
<div class="modal-footer">
  <button
    class="btn btn-primary"
    type="button"
    ng-click="ok()">
    Submit JSA
  </button>
  <button
    class="btn btn-warning"
    type="button"
    ng-click="cancel()">
    Cancel
  </button>
</div>
