<div class="panel panel-default">
  <!-- <div class="panel-heading">
    <h3 class="panel-title">Miscelaneous </h3>
  </div> -->
  <div class="panel-body">
    <button
      class="btn  btn-primary col-md-4"
      ng-click="showLeaseNotes()">
      Lease Notes
    </button>
    <button
      class="btn  btn-primary col-md-4"
      ng-click="showJSA()">
      JSA
    </button>
    <button
      class="btn  btn-primary col-md-4"
      ng-click="showUnitNotes()">
      Unit Notes
    </button>
  	<check-box
  		label-text="Unit Running on Departure"
      data="workorder.misc.isUnitRunningOnDeparture">
  	</check-box>
  </div>
</div>
