<div class="panel panel-default">
  <div class="panel-body">
  	<text-field
  		label-text="Fuel Pressure First Cut"
      placeholder-text="Fuel Pressure First Cut"
      data="workorder.pmChecklist.fuelPressureFirstCut">
  	</text-field>
  	<text-field
  		label-text="Fuel Pressure Second Cut"
      placeholder-text="Fuel Pressure Second Cut"
      data="workorder.pmChecklist.fuelPressureSecondCut">
  	</text-field>
  	<text-field
  		label-text="Visible Leaks on Skid?"
      placeholder-text="Y/N (If Y, leave comment)"
      data="workorder.pmChecklist.visibleLeaksNotes">
  	</text-field>

    <workorder-engine-compression></workorder-engine-compression>

  </div>
</div>
