<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Transfer Origin</h3>
  </div>
  <div class="panel-body" >
    <select-list
      label-text="Company"
      data="transfer.origin.customer"
      select-field="_id"
      display-field="name"
      obj-list="customers">
    </select-list>
    <text-field
      label-text="Lease Name"
      placeholder-text="Origin Lease"
      data="transfer.origin.location">
    </text-field>
    <text-field
      label-text="Legal"
      placeholder-text="Origin Legal"
      data="transfer.origin.legal">
    </text-field>
    <text-field
      label-text="County"
      data="transfer.origin.county.name">
    </text-field>
    <text-field
      label-text="State"
      data="transfer.origin.state.name">
  </div>
</div>
