<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Transfer Details</h3>
  </div>
  <div class="panel-body">
    <select-list
      label-text="Unit Number"
      data="transfer.unit"
      select-field="_id"
      display-field="number"
      obj-list="units">
    </select-list>
    <date-field
  		label-text="Transfer Date"
      data="transfer.date">
  	</date-field>
    <select-list
      label-text="Transfered By"
      data="transfer.user"
      select-field="_id"
      display-field="firstName"
      obj-list="users">
    </select-list>
  </div>
</div>
