<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Transfer Destination</h3>
  </div>
  <div class="panel-body" >
    <select-list
      label-text="Company"
      data="transfer.destination.customer"
      select-field="_id"
      display-field="name"
      obj-list="customers">
    </select-list>
    <text-field
      label-text="Lease Name"
      placeholder-text="Destination Lease"
      data="transfer.destination.location">
    </text-field>
    <text-field
      label-text="Legal"
      placeholder-text="Destination Legal"
      data="transfer.destination.legal">
    </text-field>
    <type-ahead
      label-text="County"
      placeholder-text="Destination County"
      data="transfer.destination.county"
      select-field="county"
      display-field="name"
      obj-list="counties"
      limit="12">
    </type-ahead>
    <type-ahead
      label-text="State"
      placeholder-text="Destination State"
      data="transfer.destination.state"
      select-field="state"
      display-field="name"
      obj-list="states"
      limit="12">
    </type-ahead>
    <!-- <input
      type="text"
      ng-model="transfer.destination.county"
      placeholder="Destination County"
      typeahead="county._id as county.name for county in counties | filter:{name:$viewValue}"
      class="form-control"> -->
    <!-- <type-ahead
      label-text="State"
      data="trasnfer.destination.state"
      select-field="_id"
      display-field="name"
      obj-list="states">
    </type-ahead> -->
  </div>
</div>
