<div class="panel panel-default" ng-show="showHistory">
  <div class="panel-heading">
    <h3 class="panel-title">Work Order History</h3>
  </div>
  <div class="panel-body">
    <div ng-repeat="history in workorder.workOrderHistories">
      <strong>{{history.key}}</strong>
      was changed from
      <strong>{{history.originalValue}}</strong> to
      <strong>{{history.updatedValue}}</strong> by
      <strong>{{history.updatedBy.firstName}}
      {{history.updatedBy.lastName}}</strong>.
    </div>
  </div>
</div>
