<table class="table">

  <thead>
    <tr>
      <th ng-click="changeSorting('number')">WO #</th>
      <th ng-click="changeSorting('unit.number')">Unit #</th>
      <th ng-click="changeSorting('unit.location.name')">Location</th>
      <th ng-click="changeSorting('unit.location.customer.dbaCustomerName')">Customer</th>
      <th ng-click="changeSorting('date')">Date</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="workorder in workorders | orderBy:sort.column:sort.descending"
      style="color: {{workorder.status === 'APPROVED' ? '#9E9E9E' : 'inherit'}}">
      <td>
        <span title="{{workorder.number}}">
          {{ workorder.number.slice(0,4) }}...
        </span>
      </td>
      <td>{{ workorder.unit.number }}</td>
      <td>{{ workorder.displayLocationName }}</td>
      <td>{{ workorder.displayCustomerName }}</td>
      <td>{{ workorder.date | date:'MM/dd/yyyy'}}</td>
      <td>
        <a href="/#/workorder/edit/{{workorder.id}}"
        class="btn btn-sm btn-primary pull-right">
          {{ role === "TECHNICIAN" ? 'Edit' : 'Review' }}
        </a>
      </td>
    </tr>
  </tbody>

</table>
