<loader></loader>
<alerts></alerts>

<div class="container">

  <header></header>

  <div class="jumbotron">
    <h1 class="page-title">{{title}}</h1>
    <p>{{message}}</p>
  </div>

  <div class="row">

    <div class="col-md-12" ng-show="hideLocalLogin">
      <a class="btn btn-primary btn-lg btn-long" role="button"
      ng-click="showLocalLogin()">
        Local Login
      </a>
    </div>

    <div class="col-md-12" ng-hide="hideLocalLogin">

      <form role="form" name="loginForm" ng-submit="localLogin()" ng-controller="SessionCtrl">

        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" ng-model="username" name="username"
          placeholder="user@example.com" required>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" ng-model="password"
          name="password" placeholder="password" required>
        </div>

        <input type="submit" class="btn btn-primary btn-lg btn-long" id="login"
          ng-disabled="loginForm.$invalid">
        </input>

      </form>
    </div>

  </div>

</div>
