
<!-- tableSortSearch.html -->

<style>
  .nested-supertable-header {

  }

  .nested-supertable-header-cell {
    line-height: 36px;
  }

  .nested-supertable-row {
    margin-top: 10px;
    border-bottom:  solid 1px #CCC;


  }

  .nested-supertable-toplevel {
    margin-bottom: 10px;
  }

  .nested-supertable-row-cell {
    line-height: 36px;
  }

  .nested-table-wrapper {
    margin-top: 15px;
  }

</style>

<div  class="panel panel-default">

  <div class="panel-heading">

    <h1 class="panel-title">{{tableName}}</h1>

    <p> {{ "currently displaying " + oList.length + " " }}
        {{ tableName.toLowerCase() }} </p>

    <div class="form-group clearfix">
      <input  type="text"
              class="form-control pull-right"
              name="searchPhrase"
              ng-model="searchPhrase"
              placeholder="Search here">
    </div>
    <!-- end search field -->

    <div class="nested-supertable-header row">

      <div  ng-repeat="c in displayColumns track by $index"
            ng-click="changeSorting(c.objKey)"
            class="{{columnSizes[$index]}} nested-supertable-header-cell">
        {{ c.title }}
        <i  ng-show="sort.column == c.objKey"
            class="glyphicon {{ sort.descending ? 'glyphicon-chevron-up' :
                                                  'glyphicon-chevron-down'}}"></i>
      </div>
      <!-- end column labels -->

      <div  ng-repeat="b in headerButtons track by $index"
            class="{{columnSizes[displayColumns.length + $index]}}">
        <button class="btn  btn-success pull-right"
            ng-click="b.action()">
            {{ b.title }}
        </button>
      </div>
      <!-- end header buttons -->

    </div>
    <!-- end table-header -->

  </div>



  <div class="panel-body">

    <div  ng-click="rowClickAction(obj)"
          class="nested-supertable-row"
          ng-repeat="obj in oList = ( objectList |
                                      filter:searchPhrase |
                                      orderBy:sort.column:sort.descending)">


      <div class="nested-supertable-toplevel row">

        <div  ng-repeat="c in displayColumns track by $index"
              class="{{columnSizes[$index]}} nested-supertable-row-cell">
              {{ obj[c.objKey] }}
        </div>
        <!-- end row display fields -->

        <div class="{{columnSizes[displayColumns.length]}}">
          <button style="color:#fff;"
                  class="btn "
                  ng-show="obj._nestedObjects"
                  ng-click="toggleExpandObject(obj)">
              {{ obj.isRowExpanded ? "collapse" : "expand" }}
          </button>
          <button ng-repeat="b in rowButtons"
                  class="btn  btn-primary pull-right"
                  ng-click="b.action(obj)">
              {{ b.title }}
          </button>
        </div>
        <!-- end row buttons -->

      </div>
      <!-- end toplevel row -->

    <div  class="panel panel-default nested-table-wrapper"
          ng-show="obj._nestedObjects && obj.isRowExpanded">

      <div class="panel-heading">
        <h3 class="panel-title">{{nestedTableName}}</h3>
      </div>

      <div class="panel-body">
        <div class="tss-table-header-row row">
          <div  ng-repeat="c in nestedDisplayColumns track by $index"
                class="{{columnSizes[$index]}} tss-table-header-cell">
                {{ c.title }}
          </div>
          <!-- end nested column headers -->
        </div>
        <!-- end nested-table-header -->

        <div  ng-repeat="nObj in obj._nestedObjects"
              class="row">
          <div  ng-repeat="c in nestedDisplayColumns track by $index"
                class="{{columnSizes[$index]}} tss-table-row-cell">
                {{ nObj[c.objKey] }}
          </div>
        </div>
      </div>

    </div>

  </div>
  <!-- end tss-table-body -->

</div>

</div>
