<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add a Part</h3>
  </div>
  <div class="panel-body">

    <div class="col-md-6">

    	<super-table model="partsTableModel"></super-table>

    </div>

    <div class="col-md-6">

    	<div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Manual Part Entry</h3>
        </div>
        <div class="panel-body">
          <text-field
            label-text="Number"
            placeholder-text="Part Number"
            data="manualPart.number">
          </text-field>
          <text-area-field
            label-text="Description"
            placeholder-text="Part Description"
            data="manualPart.description"
            rows="5">
          </text-area-field>
          <button class="btn  btn-primary pull-right"
                  ng-click="addPartManually()">
            add
          </button>
        </div>
      </div>

    </div>



  </div>
</div>
