
<loader></loader>
<alerts></alerts>

<div class="container">

  <header></header>

  <div class="jumbotron">
    <h1 class="page-title">{{title}}</h1>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Customer Details</div>
    <div class="panel-body">

      <!-- standard text box element (app-wide) -->
    	<text-field
    		label-text="County Name"
    		placeholder-text="County Name"
        data="county.name">
    	</text-field>

    	<select-list
    		label-text="State"
        data="county.state._id"
    		select-field="_id"
    		display-field="name"
    		obj-list="states">
    	</select-list>

      <div>
        <button class="btn btn-large btn-primary pull-right" ng-click="save()">
          Save
        </button>
        <button class="btn btn-large btn-danger pull-right" style="margin-right: 10px;"
          ng-click="destroy()" ng-show="customer._id">
          Delete
        </button>
      </div>
    </div>
  </div>

</div>
