<style>
  .dashboard {
    background: url("images/dashboard.png") no-repeat left top;
    width: 72%;
    height: 1100px;
  }
</style>

<loader></loader>
<alerts></alerts>

<div class="container">

  <header></header>

  <div class="jumbotron">
    <h1 class="page-title">{{title}}</h1>
    <p>{{message}}</p>
  </div>

  <accordion close-others="oneAtATime">

    <accordion-group heading="Transfer Information"
      is-open="accordion.genInfo.open"
      is-disabled="false">
      <transfer-information></transfer-information>
    </accordion-group>

    <accordion-group
      heading="{{filterTitleCase(transfer.transferType)}} Details"
      is-open="accordion.transfer.open"
      is-disabled="!accordion.genInfo.valid">
      <transfer-details></transfer-details>
    </accordion-group>

  </accordion>

  <div class="col-md-12 overview ">

    <button class="btn btn-primary btn-large pull-right" ng-click="save()"
    ng-disabled="!accordion.transfer.valid || submitting">
      Submit
    </button>

    <button class="btn btn-danger btn-large pull-right" ng-click="destroy()"
    ng-show="transfer._id" ng-disabled="submitting">
      Delete
    </button>

    <button class="btn btn-info btn-large pull-left" ng-click="toggleAll()"
    ng-hide="!accordion.parts.valid || !accordion.transfer.valid ">
       {{ (oneAtATime ? "View" : "Collapse") }} All
    </button>
  </div>

</div>
