<div class="form-group">
  <label for="transfer.newLocation.customer.dbaCustomerName">New Customer</label>
  <input type="text" class="form-control"
  typeahead="customer.dbaCustomerName for customer in customers | filter:$viewValue | limitTo:8"
  ng-model="transfer.newLocation.customer.dbaCustomerName"
  name="transfer.newLocation.customer.dbaCustomerName"
  ng-disabled="transfer.transferType === 'SWAP' ||
               transfer.transferType === 'RELEASE'"
  placeholder="Customer Name">

</div>

<div class="form-group">

  <label for="transfer.NewLocationId">New Location</label>

  <select class="form-control" ng-model="transfer.NewLocationId"
  ng-options="location.id as location.name for location in locations"
  name="transfer.NewLocationId"
  ng-disabled="locationsLoading"></select>

</div>

<div class="form-group" ng-hide="allowFreehandLocation">

  <label for="transfer.newLocation.county">New County</label>
  <input type="text" class="form-control"
  ng-model="transfer.newLocation.county"
  name="transfer.newLocation.county"
  placeholder="Location County"
  disabled>

</div>

<div class="form-group" ng-show="transfer.NewLocationId">

  <label for="transfer.NewServicePartnerId">New Service Partner</label>

  <select class="form-control" ng-model="transfer.NewServicePartnerId"
  ng-options="servicePartner.id as servicePartner.name for servicePartner in servicePartners"
  name="transfer.NewServicePartnerId"
  ng-disabled="locationsLoading"></select>

</div>

<div class="form-group" ng-show="transfer.NewLocationId &&
                                 transfer.transferType !== 'RELEASE'">

  <label for="transfer.NewTechnicianId">New Technician</label>

  <select class="form-control" ng-model="transfer.NewTechnicianId"
  ng-options="t.id as (t.firstName + ' ' + t.lastName) for t in newTechnicians"
  name="transfer.NewTechnicianId"
  ng-disabled="newTechniciansLoading"></select>

</div>

<div class="form-group" ng-show="allowFreehandLocation">

  <label for="transfer.freehandLocationName">Other Location Name</label>

  <input type="text" class="form-control"
  ng-model="transfer.freehandLocationName"
  name="transfer.freehandLocationName"/>

</div>

<div class="form-group" ng-show="allowFreehandLocation">

  <label for="transfer.freehandLocationCounty">Other Location County</label>

  <input type="text" class="form-control"
  ng-model="transfer.freehandLocationCounty"
  name="transfer.freehandLocationCounty"/>

</div>
