<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Basic Labor Codes</h3>
  </div>
  <div class="panel-body">
  	<time-field
  		label-text="Safety"
  		data="workorder.laborCodes.basic.safety"
  		hours="hours"
  		minutes="minutes">
  	</time-field>
    <time-field
      label-text="Positive Time Adjustment"
      data="workorder.laborCodes.basic.positiveAdj"
      hours="hours"
      minutes="minutes">
    </time-field>
    <time-field
      label-text="Negative Time Adjustment"
      data="workorder.laborCodes.basic.negativeAdj"
      hours="hours"
      minutes="minutes">
    </time-field>
  	<time-field
  		label-text="Lunch"
  		data="workorder.laborCodes.basic.lunch"
  		hours="hours"
  		minutes="minutes">
  	</time-field>
  	<time-field
  		label-text="Cust. Relations"
  		data="workorder.laborCodes.basic.custRelations"
  		hours="hours"
  		minutes="minutes">
  	</time-field>
  	<time-field
  		label-text="Telemetry"
  		data="workorder.laborCodes.basic.telemetry"
  		hours="hours"
  		minutes="minutes">
  	</time-field>
  	<time-field
  		label-text="Environmental"
  		data="workorder.laborCodes.basic.environmental"
  		hours="hours"
  		minutes="minutes">
  	</time-field>
  	<time-field
  		label-text="Diagnostic"
  		data="workorder.laborCodes.basic.diagnostic"
  		hours="hours"
  		minutes="minutes">
  	</time-field>
  	<time-field
  		label-text="Service Travel"
  		data="workorder.laborCodes.basic.serviceTravel"
  		hours="hours"
  		minutes="minutes">
  	</time-field>
  	<time-field
  		label-text="Optimize Unit"
  		data="workorder.laborCodes.basic.optimizeUnit"
  		hours="hours"
  		minutes="minutes">
  	</time-field>
  	<time-field
  		label-text="PM"
  		data="workorder.laborCodes.basic.pm"
  		hours="hours"
  		minutes="minutes">
  	</time-field>
  	<time-field
  		label-text="Wash Unit"
  		data="workorder.laborCodes.basic.washUnit"
  		hours="hours"
  		minutes="minutes">
  	</time-field>
  	<time-field
  		label-text="Training"
  		data="workorder.laborCodes.basic.training"
  		hours="hours"
  		minutes="minutes">
  	</time-field>
  </div>
</div>
