
<div class="col-md-4">

  <div class="form-group">

    <label for="workorder.calledOutBy">called Out By</label>
    <input type="text" ng-model="workorder.calledOutBy" class="form-control"
    name="workorder.calledOutBy">
    </select>

  </div>

  <div class="form-group">

    <label for="workorder.timeCalled">Time Called</label>
    <input type="datetime-local" class="form-control"
    ng-model="workorder.timeCalled"
    name="workorder.timeCalled">

  </div>

  <div class="form-group">

    <label for="workorder.timeDeparted">Time Departed</label>
    <input type="datetime-local" class="form-control"
    ng-model="workorder.timeDeparted"
    name="workorder.timeDeparted">

  </div>

  <div class="form-group">

    <label for="workorder.timeArrived">Time Arrived</label>
    <input type="datetime-local" class="form-control"
    ng-model="workorder.timeArrived"
    name="workorder.timeArrived">

  </div>

  <div class="form-group">

    <label for="workorder.mileage">Mileage</label>
    <input type="text" class="form-control" custom-validation number
    ng-model="workorder.mileage" min="0"
    name="workorder.mileage">

  </div>

  <div class="form-group">

    <label for="workorder.reason">Reason For Call Out</label>
    <select class="form-control" ng-model="workorder.reason"
    name="workorder.reason"
    ng-options="reason as reason for reason in callOutReasons"></select>

  </div>


</div>
