<loader></loader>
<alerts></alerts>

<div class="container">

  <header></header>

  <div class="jumbotron">
    <h1 class="page-title">{{title}}</h1>
    <p>{{message}}</p>
    <button class="btn btn-large btn-info pull-right"
    ng-click="toggleHistory()"
    ng-show="role === 'ADMIN' && workorder.workOrderHistories.length > 0">
      {{ (!showHistory) ? "Show History" : "Hide History" }}
    </button>
  </div>

  <workorder-history></workorder-history>

  <workorder-header></workorder-header>

  <workorder-pm></workorder-pm>

  <workorder-unit-readings></workorder-unit-readings>

  <workorder-emissions-readings></workorder-emissions-readings>

  <workorder-comments></workorder-comments>

  <workorder-labor-codes></workorder-labor-codes>

  <workorder-parts></workorder-parts>

  <button class="btn btn-lg btn-primary pull-right"
          ng-click="save()">
    save
  </button>

</div>
