
<div class="col-md-6">

  <div class="form-group">

    <label for="workorder.unit.number">
      Unit Number
    </label>
    <div class="input-group">

      <input type="text" ng-model="workorder.unit.number"
      typeahead="unit.number for unit in units | filter:$viewValue | limitTo:12"
      class="form-control" placeholder="Unit Number" name="workorder.unit.number">

      <span class="input-group-addon">
        <i class="glyphicon glyphicon-question-sign"
        popover-placement="left"
        Popover-animation="true"
        popover-trigger="click"
        popover-title="Can't find the right unit?"
        popover-template="unitNumberPopover.html"
        />
      </span>

    </div>

  </div>

  <div class="form-group">
    <label for="workorder.TechnicianId">Technician</label>
    <select class="form-control" ng-model="workorder.TechnicianId"
    name="workorder.TechnicianId"
    ng-options="t._id as (t.firstName + ' ' + t.lastName) for t in technicians"
    ng-disabled="techniciansLoading"></select>
  </div>

  <div class="form-group">

    <label for="workorder.date">Date</label>

    <datepicker ng-model="workorder.date" show-weeks="true"
    class="well well-sm"></datepicker>

  </div>

  <div class="form-group">

    <label for="workorder.reason">Reason</label>
    <textarea rows="3" class="form-control" ng-model="workorder.reason"
    name="workorder.reason"
    placeholder="Why did you perform this work order?"/>

  </div>

  <div class="form-group">

    <label for="workorder.details">Details</label>
    <textarea rows="5" class="form-control" ng-model="workorder.details"
    name="workorder.details"
    placeholder="Please provide a detailed description of the work you performed."
    />

  </div>

</div>


<div class="col-md-6">

  <div class="form-group">

    <label for="workorder.unit.location.customer.dbaCustomerName">Customer</label>
    <input type="text" class="form-control"
    ng-model="workorder.unit.location.customer.dbaCustomerName"
    name="workorder.unit.location.customer.dbaCustomerName"
    placeholder="Customer Name" disabled>

  </div>

  <div class="form-group">

    <label for="workorder.unit.location.county">County</label>
    <input type="text" class="form-control"
    ng-model="workorder.unit.location.county"
    name="workorder.unit.location.county"
    placeholder="Location County" disabled>

  </div>


  <div class="form-group">

    <label for="workorder.unit.location.name">Location</label>
    <input type="text" class="form-control" ng-model="workorder.unit.location.name"
    name="workorder.unit.location.name" placeholder="Location Name" disabled>

  </div>

  <div class="form-group">

    <label for="workorder.unit.servicePartner.name">Service Partner</label>
    <input type="text" class="form-control"
    ng-model="workorder.unit.servicePartner.name"
    name="workorder.unit.servicePartner.name"
    placeholder="Location Name" disabled>

  </div>

  <div class="form-group">

    <label for="workorder.unit.engineSerial">Engine Serial</label>
    <input type="text" class="form-control"
    ng-model="workorder.unit.engineSerial"
    name="workorder.unit.engineSerial"
    placeholder="Engine Serial Number" disabled>

  </div>

  <div class="form-group">

    <label for="workorder.unit.compressorSerial">Compressor Serial</label>
    <input type="text" class="form-control"
    ng-model="workorder.unit.compressorSerial"
    name="workorder.unit.compressorSerial"
    placeholder="Compressor Serial Number" disabled>

  </div>

  <div class="form-group">

    <label for="workorder.unit.engineDate">Engine Manufacture Date </label>
    <input type="text" class="form-control"
    name="workorder.unit.engineDate"
    placeholder="Engine Manufacture Date" disabled
    value="{{workorder.unit.engineDate | date : 'MMMM d, yyyy'}}">

  </div>

  <div class="form-group">

    <label for="workorder.number">Work Order Number</label>
    <input type="text" class="form-control"
    ng-model="workorder.number"
    name="workorder.number"
    placeholder="Work Order Number" disabled>

  </div>

  <div class="form-group">

    <label for="workorder.notes">Supervisor Notes</label>
    <textarea type="text" class="form-control"
    ng-model="workorder.notes"
    name="workorder.notes" rows="7"
    placeholder="Notes" ng-disabled="role === 'TECHNICIAN'"></textarea>

  </div>

</div>

<script id="unitNumberPopover.html" type="text/ng-template">
  <div>The list of units can be found <a href='#/unit'>here</a>.</div>
</script>
