
<div class="col-md-4">

  <label>Application</label>

  <div class="form-group">

    <label for="workorder.suction">Suction</label>
    <input type="text" number custom-validation class="form-control"
    ng-model="workorder.suction"
    name="workorder.suction">

  </div>

  <div class="form-group">

    <label for="workorder.discharge">Discharge</label>
    <input type="text"
    number
    integer-only
    min="0"
    custom-validation
    class="form-control"
    ng-model="workorder.discharge"
    name="workorder.discharge">

  </div>

  <div class="form-group">

    <label for="workorder.flowrate">Flow Rate</label>
    <input type="text" number min="0" custom-validation class="form-control"
    ng-model="workorder.flowrate"
    name="workorder.flowrate">

  </div>

</div>


<div class="col-md-4">

  <label>Engine</label>

  <div class="form-group">

    <label for="workorder.engineHours">Hours</label>
    <input type="text"
    ui-event="{ blur : 'crossPopulate()' }"
    number
    min="0"
    custom-validation
    integer-only
    non-negative
    class="form-control"
    ng-model="workorder.engineHours"
    name="workorder.engineHours">

  </div>

  <div class="form-group">

    <label for="workorder.engineOilPressure">Oil Pressure</label>
    <input type="text" number min="0" custom-validation class="form-control"
    ng-model="workorder.engineOilPressure"
    name="workorder.engineOilPressure">

  </div>

  <div class="form-group">

    <label for="workorder.jwTemperature">JW Temp</label>
    <input type="text" number min="0" custom-validation class="form-control"
    ng-model="workorder.jwTemperature"
    name="workorder.jwTemperature">

  </div>

  <div class="form-group">

    <label for="workorder.rpm">RPM</label>
    <input type="text"
    number
    min="0"
    custom-validation
    integer-only
    class="form-control"
    ng-model="workorder.rpm"
    name="workorder.rpm">

  </div>

  <div class="form-group">

    <label for="workorder.manifoldVac">Manifold VAC</label>
    <div class="input-group">
      <span class="input-group-addon">-</span>
      <input type="text"
      number
      non-negative
      min="0"
      custom-validation
      class="form-control"
      ng-model="workorder.manifoldVac"
      name="workorder.manifoldVac">
    </div>
  </div>

</div>


<div class="col-md-4">

  <label>Compression</label>

  <div class="form-group">

    <label for="workorder.compressorHours">Hours</label>
    <input type="text"
    ui-event="{ blur : 'crossPopulate()' }"
    number
    min="0"
    custom-validation
    integer-only
    non-negative
    class="form-control"
    ng-model="workorder.compressorHours"
    name="workorder.compressorHours">

  </div>

  <div class="form-group">

    <label for="workorder.compressorOilPressure">Oil Pressure</label>
    <input type="text" number min="0" custom-validation class="form-control"
    ng-model="workorder.compressorOilPressure"
    name="workorder.compressorOilPressure">

  </div>

</div>
