<div class="panel panel-default">
  <div class="panel-heading">Mileage</div>
  <div class="panel-body">

    <div class="form-group col-md-9">

      <label for="workorder.mileage">Miles Driven</label>
      <input type="text"
      number
      custom-validation
      integer-only
      non-negative
      class="form-control"
      ng-model="workorder.mileage"
      name="workorder.mileage">

    </div>

    <div class="form-group col-md-3">

      <label for="workorder.mileageIsBillable">Billable?</label>
      <input type="checkbox"
      class="form-control"
      ng-model="workorder.mileageIsBillable"
      name="newWorkOrderLog.mileageIsBillable">

    </div>

  </div> <!-- panel body -->
</div> <!-- panel -->


<div class="panel panel-default">
<div class="panel-heading">Line Items</div>

<table class="table">

  <thead>
    <tr>

      <th>
        Type
      </th>
      <th>
        Subtype
      </th>

      <th>
        System
      </th>
      <th>
        Subsystem
      </th>

      <th>
        Hours
      </th>
      <th>
        Mins
      </th>

      <th>
        Billable?
      </th>

      <th>

      </th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="workOrderLog in workorder.workOrderLogs">

      <td>
        <input type="text" disabled class="form-control"
        value="{{enumeration.typeName(workOrderLog)}}"
        placeholder="Type">
      </td>
      <td>
        <input type="text" disabled class="form-control"
        value="{{enumeration.subtypeName(workOrderLog)}}"
        placeholder="Sub Type">
      </td>

      <td>
        <input type="text" disabled class="form-control"
        value="{{enumeration.systemName(workOrderLog)}}"
        placeholder="System">
      </td>
      <td>
        <input type="text" disabled class="form-control"
        value="{{enumeration.subsystemName(workOrderLog)}}"
        placeholder="Sub Subsystem">
      </td>

      <td>
        <input type="text" disabled class="form-control"
        ng-model="workOrderLog.hours">
      </td>
      <td>
        <input type="text" disabled class="form-control"
        ng-model="workOrderLog.minutes">
      </td>

      <td>
        <input type="text" disabled class="form-control"
        value="{{workOrderLog.isBillable ? 'yes' : 'no'}}">
      </td>

      <td ng-click="removeLog($index)">
        <button class="btn btn-danger btn-large pull-right">
          remove
        </button>
      </td>

    </tr>

    <tr>

      <td>
        <select class="form-control"
        ng-model="newWorkOrderLog.type"
        name="newWorkOrderLog.type"
        ng-options="(typeNames.indexOf(typeName) + 1) as typeName for typeName in typeNames">
      </td>
      <td>
        <select class="form-control"
        ng-model="newWorkOrderLog.subtype"
        name="newWorkOrderLog.subtype"
        ng-disabled="subtypeSelectionDisabled"
        ng-options="(subtypeNames.indexOf(subtypeName)) as subtypeName for subtypeName in subtypeNames">
      </td>

      <td>
        <select class="form-control"
        ng-model="newWorkOrderLog.system"
        name="newWorkOrderLog.system"
        ng-disabled="systemSelectionDisabled"
        ng-options="(systemNames.indexOf(systemName)) as systemName for systemName in systemNames">
      </td>
      <td>
        <select class="form-control"
        ng-model="newWorkOrderLog.subsystem"
        name="newWorkOrderLog.subsystem"
        ng-disabled="systemSelectionDisabled || subsystemSelectionDisabled"
        ng-options="(subsystemNames.indexOf(subsystemName)) as subsystemName for subsystemName in subsystemNames">
      </td>



      <td>
        <select class="form-control"
        ng-model="newWorkOrderLog.hours"
        name="newWorkOrderLog.hours"
        ng-options="hours as hours for hours in hoursList">
      </td>
      <td>
        <select class="form-control"
        ng-model="newWorkOrderLog.minutes"
        name="newWorkOrderLog.minutes"
        ng-options="minutes as minutes for minutes in minutesList">
      </td>

      <td>
        <input class="form-control"
        ng-model="newWorkOrderLog.isBillable"
        name="newWorkOrderLog.isBillable"
        type="checkbox">
      </td>

      <td>
        <button
        class="btn btn-success btn-large pull-right"
        ng-click="addNewLog()"
        ng-disabled="lineItemSubmissionDisabled">
          add
        </button>
      </td>

    </tr>
  </tbody>

</table>

</div>
