<div class="col-md-4">

  <div class="form-group">

    <label for="workorder.laborCodes.pm">Pressure Rating</label>

    <div ng-repeat="pressureRating in workorder.unit.pressureRatings">
      <input type="radio" ng-model="workorder.pressureRating"
      value="{{pressureRating}}">
      {{pressureRating}}
    </div>

  </div>

  <div class="form-group">

    <label for="workorder.pressureLimit">Pressure Limit</label>
    <input type="text" number min="0" custom-validation class="form-control"
    ng-model="workorder.pressureLimit"
    name="workorder.pressureLimit">

  </div>

</div>
