<div class="col-md-12">

  <div class="form-group">

    <label for="transfer.reassignMultipleUnits">Reassign Multiple Units?</label>

    <div>
      <div style="display:inline;" ng-repeat="value in [true, false]">
        <input type="radio" ng-model="transfer.reassignMultipleUnits" value="{{value}}">
        {{value === true ? "yes" : "no"}}
      </div>
    </div>

  </div>

</div>




<div class="col-md-12" ng-hide="transfer.reassignMultipleUnits">

  <div class="alert alert-warning" role="alert" ng-show="!transfer.unit._id">
    If you are not reassigning multiple units, please select a unit to reassign.
  </div>

  <div class="col-md-6">

    <div class="form-group">

      <label for="transfer.OldServicePartnerId">Old Service Partner</label>
      <select class="form-control" ng-model="transfer.OldServicePartnerId"
      ng-options="servicePartner._id as servicePartner.name for servicePartner in servicePartners"
      name="transfer.OldServicePartnerId" ng-disabled="true"></select>

    </div>

  </div>

  <div class="col-md-6">

    <div class="form-group">

      <label for="transfer.NewServicePartnerId">New Service Partner</label>

      <select class="form-control" ng-model="transfer.NewServicePartnerId"
      ng-options="servicePartner._id as servicePartner.name for servicePartner in servicePartners"
      name="transfer.NewServicePartnerId"
      ng-disabled="!transfer.unit._id"></select>

    </div>

    <div class="form-group">

      <label for="transfer.NewTechnicianId">New Technician</label>

      <select class="form-control" ng-model="transfer.NewTechnicianId"
      ng-options="t._id as (t.firstName + ' ' + t.lastName) for t in newTechnicians"
      name="transfer.newTechnicianId"
      ng-disabled="!transfer.unit._id || !transfer.NewServicePartnerId"></select>

    </div>

  </div>
</div>


<div class="col-md-12" ng-show="transfer.reassignMultipleUnits">
  <div class="col-md-6">

    <div class="form-group">

      <label for="transfer.OldServicePartnerId">Old Service Partner</label>
      <select class="form-control" ng-model="transfer.OldServicePartnerId"
      ng-options="servicePartner._id as servicePartner.name for servicePartner in servicePartners"
      name="transfer.OldServicePartnerId"></select>

    </div>

  </div>

  <div class="col-md-6">

    <div class="form-group">

      <label for="transfer.NewServicePartnerId">New Service Partner</label>

      <select class="form-control" ng-model="transfer.NewServicePartnerId"
      ng-options="servicePartner._id as servicePartner.name for servicePartner in servicePartners"
      name="transfer.NewServicePartnerId"
      ng-disabled="locationsLoading"></select>

    </div>

    <div class="form-group">

      <label for="transfer.NewTechnicianId">New Technician</label>

      <select class="form-control" ng-model="transfer.NewTechnicianId"
      ng-options="t._id as (t.firstName + ' ' + t.lastName) for t in newTechnicians"
      name="transfer.NewTechnicianId"
      ng-disabled="newTechniciansLoading"></select>

    </div>

  </div>
</div>
