
<div ng-show="transfer.transferType === 'RELEASE' ||
              transfer.transferType === 'TRANSFER'">
  <transfer-simple></transfer-simple>
</div>

<div ng-show="transfer.transferType === 'CONTRACT' ||
              transfer.transferType === 'TEST'">
  <transfer-newset></transfer-newset>
</div>

<div ng-show="transfer.transferType === 'SWAP'">
  <transfer-swap></transfer-swap>
</div>

<div ng-show="transfer.transferType === 'REASSIGNMENT'">
  <transfer-reassignment></transfer-reassignment>
</div>
