<div class="col-md-6">

  <div class="form-group">
    <label for="transfer.oldLocation.customer.dbaCustomerName">Old Customer</label>
    <input type="text" class="form-control"
    ng-model="transfer.oldLocation.customer.dbaCustomerName" disabled
    name="transfer.oldLocation.customer.dbaCustomerName"
    placeholder="Customer Name">

  </div>

  <div class="form-group">

    <label for="transfer.oldLocation.name">Old Location</label>
    <input type="text" class="form-control"
    ng-model="transfer.oldLocation.name" disabled
    name="transfer.oldLocation.name" placeholder="Location Name">

  </div>

  <div class="form-group">

    <label for="transfer.oldLocation.county">Old County</label>
    <input type="text" class="form-control"
    ng-model="transfer.oldLocation.county" disabled
    name="transfer.oldLocation.county"
    placeholder="Location County">

  </div>

  <div class="form-group">

    <label for="transfer.oldLocation.servicePartner.name">Old Service Partner</label>
    <input type="text" class="form-control"
    ng-model="transfer.oldLocation.servicePartner.name" disabled
    name="transfer.oldLocation.servicePartner.name"
    placeholder="Service Partner">

  </div>

</div>


<div class="col-md-6">

  <div class="form-group">

    <label for="transfer.isYardTransfer">Transfer to another yard?</label>

    <div>
      <div style="display:inline;" ng-repeat="value in [true, false]">
        <input type="radio" ng-model="transfer.isYardTransfer" value="{{value}}">
        {{value === true ? "yes" : "no"}}
      </div>
    </div>

  </div>

  <transfer-customer ng-hide="transfer.isYardTransfer"></transfer-customer>
  <transfer-yard ng-show="transfer.isYardTransfer"></transfer-yard>

</div>
