<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Inventory Transfer</h3>
  </div>
  <div class="panel-body">
    <select-list
      class="col-md-6"
      label-text="Origin"
      data="inventory.originLocation"
      select-field="_id"
      display-field="name"
      obj-list="locations">
    </select-list>
    <select-list
      class="col-md-6"
      label-text="Destination"
      data="inventory.destinationLocation"
      select-field="_id"
      display-field="name"
      obj-list="locations">
    </select-list>
  </div>
</div>
